/NE6882/debug
/NE6882/release
/NE6882communication/ne6882serial/debug
/NE6882communication/ne6882serial/release
*.Debug
*.Release
/UploadWebApi/debug
/UploadWebApi/release
/readpress/Ruidi0311
/readpress/untitled/debug
/readpress/untitled/release
/readpress/untitled/data
